
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonOptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.numberStyling{
    font-size: 400%;
}